body {
  margin: auto;
  font-family: "Proza Libre", sans-serif;
  font-size: normal;
  background-color: #eaeaea;
}

header {
  background-color: rgb(7, 127, 255);
  color: white;
}

h2 {
  font-weight: normal;
  margin: 0 auto;
}

h3 {
  font-weight: lighter;
}

img {
  width: 100%;
}

input {
  height: 30px;
  width: 240px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0 auto;
}

.search-bttn {
  height: 35px;
  width: 70px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: rgb(7, 127, 255);
  color: white;
  font-size: normal;
}

.search-bar {
  margin-top: 10px;
}

.title {
  font-size: 4.5rem;
  font-weight: lighter;
  margin: 30px auto;
}

.search-title {
  margin: 1.5rem auto 0.5rem;
  font-size: 2.3rem;
}

.flex {
  display: flex;
  align-items: center;
}

.search-tab {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  font-weight: lighter;
}

.center {
  text-align: center;
}

.pokeball-image {
  width: 200px;
  margin: 40px auto 0;
}

.type-container {
  margin: -10px 0 0;
  align-items: center;
}

.type-electric {
  height: auto;
  width: 1.5rem;
  border-radius: 50%;
  background-color: yellow;
  margin-right: 5px;
  border: 1px solid lightgray;
}

.pokemon-image {
  display: flex;
  justify-content: center;
  height: auto;
  width: 90%;
  margin-left: 20px;
}

.spacing {
  margin-right: 100px;
}

@media screen and (min-width: 768px) {
  img {
    width: 100%;
  }

  .pokemon-name {
    margin-top: 20px;
  }

  .stat-title {
    margin-top: 10px;
  }

  .search-tab {
    margin-left: 40px;
  }

  .pokemon-image {
    display: flex;
    justify-content: center;
    height: auto;
    width: 90%;
    margin-left: 20px;
  }
}
