body {
  margin: auto;
  font-family: "Proza Libre", sans-serif;
  font-size: normal;
  background-color: #eaeaea;
}

header {
  background-color: rgb(7, 127, 255);
  color: white;
}

h3 {
  font-weight: lighter;
}

img {
  width: 100%;
}

input {
  height: 30px;
  width: 240px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.search-bttn {
  height: 35px;
  width: 70px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: rgb(7, 127, 255);
  color: white;
  font-size: normal;
}

.search-bar {
  margin-top: 10px;
}

.title {
  font-size: 4.5rem;
  font-weight: lighter;
  margin: 30px auto;
}

.flex {
  display: flex;
  align-items: center;
}

.search-tab {
  color: white;
  text-decoration: none;
  margin-left: 40px;
}

.center {
  text-align: center;
}

.image {
  width: 200px;
  margin: 40px auto 0;
}

@media screen and (min-width: 768px) {
  img {
    width: 100%;
  }

  .search-tab {
    margin-left: 40px;
  }
}
